@import './variables';

#searchForm button {
  font-size: 1.2em; /* Make button text bigger */
  padding: 12px 20px; /* Add more space inside */
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #0056b3;
  }

  &:active {
    background-color: #003d80;
  }

}

#searchForm button:hover {
  background-color: #0056b3;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px; // Space between image and text

  img {
    width: 100px; // Adjust as needed
    transition: transform 0.8s ease-in-out; // Smooth animation
  }

  img:hover {
    transform: translateY(150px) rotate(20deg); // Makes it fall and tilt
  }
}
