@import './variables';

#searchForm button {
  font-size: 1.2em; /* Make button text bigger */
  padding: 12px 20px; /* Add more space inside */
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #0056b3;
  }

  &:active {
    background-color: #003d80;
  }

}

#searchForm button:hover {
  background-color: #0056b3;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px; // Space between image and text

  img {
    width: 100px; // Adjust as needed
    transition: transform 0.8s ease-in-out; // Smooth animation
  }

  img:hover {
    transform: translateY(150px) rotate(20deg); // Makes it fall and tilt
  }
}

/* För wiki-info sektionen */
.wiki-info {
  max-width: 800px;
  margin: auto 2rem;
  overflow-wrap: break-word;
  opacity: 0;
  position: relative;
}

/* Animation när ny information ska visas */
.wiki-info.slide-in {
  animation: slideInFromRight 0.8s ease-out forwards;
}

/* Animation för att komma in från höger */
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%); /* Starta från utanför skärmen till höger */
    opacity: 0; /* Osynlig vid start */
  }
  100% {
    transform: translateX(0); /* Sluta i sin normala position */
    opacity: 1; /* Gör den synlig */
  }
}
