.footer {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 1rem 0;
  background-color: $primary-color;
  color: $secondary-color-light;
  margin-top: auto; 

  @media (prefers-color-scheme: dark) {
      background-color: lighten($primary-color-dark, 20%);
      color: $secondary-color-dark;
  }
}
