@import './variables'; // Import the variables
$theme: 'light';
header {
  top: 0;
  position: static;
  text-align: left;
  padding: 2rem 0;
  font-size: 18px;

  // Default (light theme)
  background-color: $primary-color;
  color: $secondary-color-light; 

  // Media query for dark theme
  @media (prefers-color-scheme: dark) {
    background-color: lighten($primary-color-dark, 20%);
    color: $secondary-color-dark;
  }

  section{
    display: flex;
    flex-direction: row;  
  }
}
picture{
  img{
    width: auto;
    height: 80px;
    border-radius: 50px;
  }
}
