// _layout.scss
$theme: 'light';

.container {
    box-sizing: border-box;
    overflow-x: hidden;
    height: auto;
}

main {
    box-sizing: border-box;
    padding: 15em 2px;
}

map {
    #map {
        width: 400px;
    }
}
