// _layout.scss
$theme: 'light';

.container {
    box-sizing: border-box;
    overflow-x: hidden;
    height: auto;
}

main {
    box-sizing: border-box;
    padding: 15em 2px;
}

map {
    #map {
        width: 400px;
    }
}


#searchForm {
  gap: 10px;
  max-width: 400px;
  margin: 0 auto;
}

#locationInput {
  font-size: 1.2em; /* Make the text inside bigger */
  padding: 12px; /* Add more space inside */
  border: 2px solid #333;
  border-radius: 5px;
}

