// _responsive.scss
@media only screen and (min-width: 3000px) {
  #wikiInfo {
    display: grid;
    grid-template-columns: 30% 1fr; /* Bilden tar 30% av bredden, resten för texten */
    grid-gap: 20px; /* Lägger till mellanrum mellan bilden och texten */
    padding: 20px;
  }

  #wikiInfo h3 {
    grid-column: 2 / 3; /* Rubriken ligger i andra kolumnen */
    font-size: 2em;
    margin-bottom: 10px;
  }

  #wikiInfo img {
    grid-column: 1 / 2; /* Bilden ligger i första kolumnen */
    width: 100%; /* Bilden fyller sin kolumn */
    height: auto;
  }

  #wikiInfo div {
    grid-column: 2 / 3; /* All annan text (inklusive länken) ligger i andra kolumnen */
  }

  #wikiInfo p {
    margin: 0;
    padding: 0;
    line-height: 1.5;
  }

  #wikiInfo p a {
    color: #007BFF;
    text-decoration: none;
  }
  main{
    padding-left: 1em;
  }
}

@media only screen and (min-width: 1050px) {
  @import './variables'; 

  $map-width: 59%; // Karta tar upp 60% av bredden
  $info-width: 39%; // Wikipedia info tar upp 40% av bredden

  .map-container {
    width: $map-width;
    height: 100%;
  }

  main {
      box-sizing: border-box;
      height: auto;
      padding-left: 1em;
  }
  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  h1 {
    font-size: 2.2em;
    width: 600px;
}

}

@media (max-width: 950px) {
  body{
    width: 100vw;
  }
  main {
    margin: 0;
    padding: 4em 0;
  }
  section {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: .5em;
  }
  .map-container, #wikiInfo{
    width: 100%;
  }
  h1 {
    font-size: 1.2em;
    width: 300px;
  }
  footer{
    padding: 0;
  }
}
