/* _variables.scss */

/* Allmänna variabler */
$primary-color: #e0afaf;  // Ljus bakgrund
$secondary-color: #000;  // Standard secondary color
$font-family: 'Roboto', sans-serif;
$font-size-base: 1em;
$line-height: 1.15cm;

/* Ljust Tema */
$primary-color-light: #ffffff;  // Ljus bakgrund
$secondary-color-light: #000000;  // Mörk text
$accent-color-light: #007bff;  // Blå för länkar och knappar

/* Mörkt Tema */
$primary-color-dark: #2b2b2b;  // Mörk bakgrund
$secondary-color-dark: #ffffff;  // Ljus text
$accent-color-dark: #dabbff;  // Ljus lila för länkar och knappar

h2{
    font-size: 3em;
}
p{
    font-size: 1.2em;
    line-height: 1.15cm;
}

/* Övriga variabler */
$animation-duration: 5s;
$figure-size: 100px;


