@import './partials/variables';
@import './partials/mixins';
@import './partials/header';
@import './partials/footer';
@import './partials/layout';
@import './partials/responsive';
@import "./partials/animering";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: Roboto;
  
    // Media query for dark theme
    @media (prefers-color-scheme: dark) {
      background-color: $primary-color-dark;
      color: $secondary-color-dark;
        a{
            color: $accent-color-dark;
        }
    
    }
  }

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content{
  h1{
    display: none;
  }
}
main{
  padding-left: 1em;
}