@import './partials/variables';
@import './partials/mixins';
@import './partials/header';
@import './partials/footer';
@import './partials/layout';
@import './partials/responsive';
@import "./partials/animering";

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: $secondary-color-light; 
  
    // Media query for dark theme
    @media (prefers-color-scheme: dark) {
      background-color: $primary-color-dark;
      color: $secondary-color-dark;
        a{
            color: $accent-color-dark;
        }
    
    }
  }

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

